{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Videos{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}
<section>
  <h2>My Videos</h2>
  <a href="{{ url_for('videos.create') }}">Create a new video</a>
  <ul>
    {% for video in videos|selectattr("userId", "equalto", g.user["userId"]) %}
    <h3>{{ video['title'] }}</h3>
    {% endfor %}
  </ul>
</section>
{% endif %}
<section>
  <h2>All Videos</h2>
  <ul>
    {% for video in videos %}
    <h3>{{ video['title'] }}</h3>
    {% endfor %}
  </ul>
</section>
{% endblock %}
